/* TSOS.css */

body {
  background: #121212;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #ffffff;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

h2 {
  color: #ffffff;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#2c2c2c;
  border: 1px solid #018786;;
  cursor: default;
}

.normal_button {
  width: 100px;
  color: #121212;
  background-color: #018786;
}

.footerText {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.statusBar {
  color: #ffffff;
}

.dateTimeBar {
  color: #ffffff;
}

.hostLog {
  color: #ffffff;
}

.hostLogText {
  color: #ffffff;
  background: #2c2c2c;
  border-color: #018786;
}

.userProgramInput {
  color: #ffffff;
}

.userProgramInputText {
  color: #ffffff;
  background: #2c2c2c;
  border-color: #018786;
}